*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 80%;
    margin: 0 auto;
}



header{
    display: flex;
    justify-content: center;
    margin:15px ;
    align-items: center;
}

#user-input{
    display: flex;
    justify-content: end;
    padding-right: 40px;
    margin-bottom: 5%;
}

select{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(212, 212, 212);
}

#main-data{
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.438);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 10px;

        .temp{
            font-size: 2rem;
        }
}


#content{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 1.5rem;
        padding-bottom: 2%;
    }

    p{
        font-size: 1.1rem;
        padding-bottom: 2%;
    }
}